In [1]:
import pandas as pd

In [2]:
telecom_df=pd.read_csv('../datasets/telecom_data_clean.csv')
telecom_df.head()

,ID,Genre,Senior,Enfants,Anciennete,Multi-lignes,Service Internet,Autres Services,Partenaire,Contrat,Facturation électronique,Mode de paiement,Charges mensuelles,Charges totales,Desabonnement
0,1,0,0,0,-1.262273,0,0,0,1,2,1,1,-1.260110,-1.008238,0.0
1,2,1,0,0,0.085015,0,0,1,0,0,0,2,-0.344588,-0.189309,0.0
2,3,1,0,0,-1.221446,0,0,1,0,2,1,2,-0.449315,-0.973757,0.0
3,4,1,0,0,0.534111,0,0,0,0,0,0,3,-0.839510,-0.210777,0.0
4,5,0,0,0,-1.221446,0,1,1,0,2,1,1,0.119930,-0.954601,0.0

In [3]:
telecom_df.shape

(498, 15)

## Split data
---

Divisez les données en ensembles d'entraînement et de test : Utilisation d'une partie des données pour former le modèle et une autre pour évaluer ses performances.

In [ ]:
from sklearn.model_selection import train_test_split